<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
        <ul>
            <li><a class="active" href="{{url_for('homepage')}}">Home</a></li>
            <li><a href="{{url_for('post')}}">Post</a></li>
            <li><form method="POST" action="/logout">
            <a href="{{url_for('logout')}}">Log Out</a></form></li>
            
        </ul>
    </head>
    <body>
            <center><h1 class="page_title">Welcome {{a}}</h1></center>
        
            <form id="home" method="GET" action="/">
                    {% for i in articles %}
                    <div style="padding-left: 25px; " class="container gameCard">
                            <br>
                        {{i.Title}}
                        <br>
                        <br>
                        {{i.Content}}
                        <br>
                    -{{i.Publisher}}
                    </div>
                    {% endfor %}
                </table>
            
            </form>
        
         
    </body>
</html>